/* === переменные === */
:root {
  --background-page: #ffffff;
  --backgraund-section: #f5f4fa;
  --background-footer: #2f303a;
  --color-title: #212121;
  --main-color-text: #757575;
  --white-text: #ffffff;
  --blue-color: #2196f3;
  --button-hover: #188ce8;
  --svg-links: #afb1b8;
  --delay-time: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*  === миксины === */
@mixin font($fw: 400, $fs: 14px, $lh: 1.71, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

/* === общие стили === */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--main-color-text);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  transition: color var(--delay-time) var(--time-function);

  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}
.list {
  list-style: none;
}

// ==== visuali hiden ===
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

// === container ===
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.header__container {
  display: flex;
  align-items: center;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

// logo
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  @include font(700, 24px, 1.17, 0.03em);
  text-decoration: none;

  &_header {
    color: #000000;
  }
  &_footer {
    display: block;
    margin-bottom: 20px;
    color: var(--white-text);
  }
  &__web {
    color: var(--blue-color);
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    @include font(700, 26px, 1.19, 0.03em);
  }
}

//  === header ===
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

// ------------------------для мобилки
@media screen and (max-width: 767px) {
  .navigation-menu,
  .contact {
    display: none;
  }
}
//  === mobile menu ===
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform var(--delay-time) var(--time-function);
}
.is-open {
  transform: scale(1);
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-page);
  }
  // ==button close
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .mobile-menu__close-btn-icon {
    fill: var(--color-title);
    transition: fill var(--delay-time) var(--time-function);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-btn-icon,
  .mobile-menu__close-btn:focus .mobile-menu__close-btn-icon {
    fill: var(--blue-color);
  }
  // navigation
  .mobile-menu__item-nav:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__item-nav:last-child {
    margin-bottom: auto;
  }
  .mobile-menu__link-nav {
    @include font(500, 40px, 1.17, 00.02em);
    color: var(--color-title);
  }
  .mobile-menu__link-nav:hover,
  .mobile-menu__link-nav:focus {
    color: var(--blue-color);
  }
  // contact
  .mobile-menu_list-contact {
    margin-top: auto;
  }
  .mobile-menu__item-contact {
    margin-bottom: 32px;
  }
  .mobile-menu_link-tel {
    @include font(500, 34px, 1.17, 000.02em);
    color: var(--blue-color);
  }
  .mobile-menu_link-mail {
    @include font(500, 24px, 1.17, 0.02em);
    color: var(--main-color-text);
  }
  // social
  .mobile-menu__list-social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-bottom: 0;
  }
  .mobile-menu__item-social:not(:last-child)::after {
    content: "";
    width: 22px;
    height: 0px;
    margin: 0 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
  .mobile-menu__link-social {
    @include font(500, 18px, 1.22, 00.02em);
    color: var(--blue-color);
  }
}

//  === mobile menu button (burger)
.mobile-menu-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile-menu-button__icon {
  fill: #000000;
  transition: fill var(--delay-time) var(--time-function);
}
.mobile-menu-button:hover .mobile-menu-button__icon,
.mobile-menu-button:focus .mobile-menu-button__icon {
  fill: var(--blue-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}
// ---------- для планшета
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  
    &-menu {
      display: flex;
      align-items: center;
      margin-left: 88px;
  
      &__item {
        &:not(:last-child) {
          margin-right: 50px;
        }
      }
      &__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        @include font(500, 14px, 1.14, 0.02em);
        color: var(--color-title);
      }
    }
  }
  .contact {
    margin-left: auto;

    &__item_tel {
      margin-top: 10px;
    }  
    &__link {
      display: flex;
      align-items: center;
      @include font(500, 12px, 1.17, 0.02em);
      color: var(--main-color-text);
    }
    &__icon {
      margin-right: 10px;
      fill: var(--main-color-text);
      transition: fill var(--delay-time) var(--time-function);
  
      .contact__link:hover &,
      .contact__link:focus & {
        fill: var(--blue-color);
      }
    }
  }
}

// ----------- для компа
@media screen and (min-width: 1200px) {
  .navigation-menu {
    margin-left: 93px;
  }
  .contact {
    display: flex;
    align-items: center;
    
    &__item_tel {
      margin-top: 0;
      margin-left: 50px;
    }

    &__link {
      @include font(500, 14px, 1.14, 0.02em);
    }
  }
}
// ------- end ----------

// === buton ===
.button {
  min-width: 200px;
  padding: 10px;
  align-self: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include font(700, 16px, 1.87, 0.06em);
  color: var(--white-text);
  background: var(--blue-color);
  cursor: pointer;
  transition: background var(--delay-time) var(--time-function);

  &:hover,
  &:focus {
    background: var(--button-hover);
  }

  &_hero {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  &_subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
  }

  &__icon {
    margin-left: 10px;
    fill: var(--white-text);
  }
}

// === hero ===
// --------- для мобилки
@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 118px;
    background-color: var(--background-footer);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/hero/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
    &__titel {
      @include font(900, 26px, 1.62, 0.06em);
      text-align: center;
      text-transform: uppercase;
      color: var(--white-text);
    }
  }
}
// ----------для планшета
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 118px;
    background-color: var(--background-footer);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/hero/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
    &__titel {
      @include font(900, 26px, 1.62, 0.06em);
      text-align: center;
      text-transform: uppercase;
      color: var(--white-text);
    }
  }
}
// -------- для компа
@media screen and (min-width: 1200px) {
  .hero {
    width: auto;
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/hero/background.jpg");
      
    &__titel {
      @include font(900, 44px, 1.36, 0.06em);
    }
  }
}
// --------- end -----------
