.navigation-menu__item {
  position: relative;
}

.current {
  color: var(--blue-color);

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--blue-color);
    border-radius: 2px;
  }
}
