.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header__container,
.footer__container {
  display: flex;
}
.footer__container {
  align-items: baseline;
}
